#container {
	background:#000;
}
header {
	position:sticky;
	top:0;
	width:100%;
	padding:14px 0;
	background:#10131c;
}
header h1 {
	font-size:16px;
	line-height:20px;
	text-align:center;
	color:#fff;
}
.ptr_content {
	height:0;
	overflow:hidden;
	position:relative;
	transition:height 0.01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ptr_loader {
	display:none;
	width:40px;
	height:40px;
	border-radius:50%;
	position:absolute;
	top:10px;
	background:linear-gradient(180deg, rgba(56, 119, 192, 1) 0%, #F7F7F9 51.04%, #F7F7F9 100%);
}
.ptr_loader::after {
	content:'';
	display:block;
	width:34px;
	height:34px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	border-radius:50%;
	background:#000;
}
.ptr_content.active .ptr_loader {
	display:block;
	left:50%;
	margin-left:-20px;
	animation:loading 0.5s ease infinite;
}
@keyframes loading {
	0% {
		transform:rotate(0deg);
	}

	100% {
		transform:rotate(360deg);
	}
}
.ptr_status {
	display:flex;
	align-items:flex-end;
	justify-content:center;
	width:100%;
	height:100%;
	font-weight:900;
	font-size:36px;
	line-height:1;
	color:#fff;
}
.card_section {
	display:flex;
	flex-direction:column;
	gap:20px;
	padding:20px;
}
.card_section .card {
	width:100%;
	height:200px;
	border-radius:20px;
	border:1px solid #292c36;
	background:#1f222a;
}
